doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        title Document
    body
        include components/mixin.pug
        .container-fluid.bg1 
            .container-xl.navbarm
                nav.navbar.navbar-expand-lg(data-bs-theme='dark').py-4
                    .container-fluid
                        a.navbar-brand(href='#') 
                            img(src="img/logo.png", alt="logo")
                        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                            span.navbar-toggler-icon
                        #navbarSupportedContent.collapse.navbar-collapse.justify-content-end
                            ul.navbar-nav.mb-2.mb-lg-0.gap-4
                                li.nav-item
                                    a.text-uppercase.nav-link.hover_a(href='#') Головна
                                li.nav-item
                                    a.text-uppercase.nav-link.hover_a(href='#') послуги
                                li.nav-item
                                    a.text-uppercase.nav-link.hover_a(href='#') про компанію
                                li.nav-item
                                    a.text-uppercase.nav-link.hover_a(href='#') Акції
                                li.nav-item
                                    a.text-uppercase.nav-link.hover_a(href='#') Партнери
                                li.nav-item
                                    a.text-uppercase.nav-link.hover_a(href='#') відгуки
                                li.nav-item
                                    a.text-uppercase.nav-link.hover_a(href='#') Контакти
            .container.adv.text-center
                h1 Морські пригоди
                .container-fluid.justify-content-center.d-flex
                    p.italic Не важливо, чи Ваша мандрівка належить до елітного рівня чи до економваріанту, туроператор S trips потурбується, щоб Ви залишились задоволеними!
                button.btn.px-4.mb-5.py-2(type='button') детальніше
            .container-fluid.choose-adv
                .container-xl.text-center
                    .container.h2
                        h2 обери свій план подорожі
                    p.italic Наша фірма - лідер на ринку у своїй сфері
                    a(href="#choose") 
                        img(src="img/arr.png", alt="double arrow")
        .container-xl.choose#choose
            .row 
                .col 
                    .card(style='width: 350px;').about
                        .card-body
                            .row
                                h2.card-title ПРО НАШУ КОМПАНІЮ
                                p.card-text.italic.text-dark.pfirst
                                  | Наша компанія пропонує ряд цікавих-розважальних послуг, які принесуть вам ряд вражень!
                            .row
                                .btn-about
                                    a.btn.btn-warning.rounded-pill.text-light.more(href='#') ДЕТАЛЬНІШЕ
                                p.text-body-tertiary.starprice * - зверніть увагу, зміна ціни може залежати від курсу долара.
                .col
                    +card('/img/bicucle.png', "Тур на велосипедах", "335 грн", "Подорожуючи  на велосипеді, ви поринете в атмосферу мальовничих гір, чарівнмх краєвидів та шалених пригод.")
                .col.featured
                    +card('/img/circle.png', "Екскурсія на острів", "500 грн", "Подорож на острів занурить Вас у незабутнні пригоди. Неймовірна краса  у будь-яку пору року.")
                    .row 
                        a(href="#").text-center дивитись усі плани
                .col.featured
                    +card('/img/pupil.png', "Особливе замовлення", "250 грн", "Обираючи цю подорож, Ви самостійно робите її незабутнбою та не схожою на будь-які інші.")
        script(src="js/scripts.js") 
